<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todoリスト課題トップページ</title>
</head>
<body>

<div>
    <div>
        ■入力項目
        <form action="/register" method="post">
            <table>
                <tr>
                    <td>タイトル</td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td>期日</td>
                    <td><input type="date" name="deadline"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="登録"></td>
                </tr>
            </table>
        </form>
    </div>

    ■表示項目
    <table>
        <tr>
            <th>タイトル</th>
            <th>期日</th>
            <th>ステータス</th>
        </tr>
        <tr th:each="todo : ${todoList}" th:object="${todo}">
            <td th:text="*{title}"></td>
            <td th:text="${#temporals.format(todo.deadline, 'yyyy年MM月dd日')}"></td>
            <td>
                <span th:if="${todo.status}">完了</span>
                <span th:unless="${todo.status}">未完了</span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>